/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #090014, #6200ea);
    color: white;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding-bottom: 50px;
}


.footer {
    background: #090014;
    color: white;
    padding: 30px 15px;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: auto; 
}
